:root{
 --myBg:rgb(212, 204, 204);
 --fontColor:rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    line-height: 1.4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c94b4b;  
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  
    background: linear-gradient(to right, #4b134f, #c94b4b);
}
.todos{
    width: 350px;
    color: var(--myBg);
    font-weight: 200;
}

.todos header{
    padding:18px 0;
    background-color: var(--myBg);
    border-radius: 10px;
    text-align: center;
    color: var(--fontColor) ;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.pre{
    padding: 5px 0;
    background-color: var(--myBg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
form{
    display: flex;
}
.input{
    flex:10;
    padding:10px;
    outline: none;
    display: block;
    background:#d16e56 ;
    border: 0;
    border-radius: 25px;
    padding: 12px 20px;
    color: snow;
    margin-bottom: 10px;
    margin-right: 3px;
    font-size: 16px;

}
input::placeholder{
    color:rgb(196, 179, 179);
}
.inputBtn{
    flex:1;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
    background:#d16e56 ;
    color: white;

}

.todos footer{
    padding: 5px 0;
    background-color: var(--myBg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todo{
    border-radius: 20px;
    white-space:wrap;
    
}
.todos .todo label{
    position: relative;
    display: block;
    padding: 14px 16px;
    background-color: var(--myBg);
    color:var(--fontColor);
    font-size: 18px;
    font-weight: 300;
    transition: .5s ease;
    
}
.todos .todo label:hover{
    transform: translateX(-1em);
    border-radius: 10px;

}
.todos .todo input[type=checkbox]{
    position: absolute;
    width: 0;height: 0;
    visibility: hidden;
}
.todos .todo label::before{
    content:'';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--fontColor);
    border-radius:10px;
    vertical-align: middle;
    margin-right: 8px;
} 
.todos .todo label::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #c94b4b;
    transition: .4s ease-in-out;
}
.todos .todo label:hover::after{
    width: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.todos .todo label .fa-check{
    position: absolute;
    font-size: 25px;
    left: 19px;
    color: #bb144c;
    opacity: 0;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.todos .todo input[type=checkbox]:checked + label .fa-check{
    opacity: 1;
}
.todos .todo input[type=checkbox]:checked + label .label{
    text-decoration: line-through;
}
.btn{
    float: right;
    /*background-color: rgb(156, 148, 148);*/
    background: #c94b4b;  
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  
    background: linear-gradient(to right, #4b134f, #c94b4b);
    color: var(--myBg);
    padding: 8px;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}
.footer{
    margin-top: 10px;
    text-align: center;
}
.footer a{
    color: rgb(12, 5, 1);
}
p{
    padding: 2px;
}
/*
a{
    color:#333;
    text-decoration: none;
}
.title{
    font-weight: 400;
    text-align: center;
    font-size: large;
    
}
h3{
    margin: 20px;
    font-weight: 300;
    text-align: center;
}
.todos{
    width: 100%;
}

*/