.bg{
    background: #2980B9; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
    height: 120vh;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    z-index: 1;
}
.menu-bars{
    margin-top: 87px;
    margin-left: 20px;
    font-size: 20px;
    background:none;
    position: fixed;
}
.close{
    position: relative;
    left:10px;
    font-size: 25px;
}
.nav-menu{
    width: 250px;
    height:90vh;
    background: #0072ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: -100%;
    transition: .7s ease-in-out;
    z-index: 2;
}
.active{
    left:0;
}
.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin:10px 0;
    padding: 10px 0;
}
.nav-text a{
    text-decoration: none;
    color: rgb(26, 22, 22);
    font-size: 18px;
    height:100%;
    display: flex;
    align-items: center;
    padding: 2px 46px;
    width: 40%;
    border-radius: 4px;
    margin: 5px 0;
    background-color: rgba(15, 15, 15,0.08);
    transition: .3s ease-in-out;
}
.nav-text span{
    margin-left: 5px;
    color:white;
}
.nav-text a:hover{
    transform: scale(1.1);
}
.nav-menu-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px auto;
}