.App{
    display:flex;
    flex-wrap:wrap;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
::-webkit-scrollbar{
    width:5px;
    background-color: #353b48;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
.title{
    width:100%;
    text-align:center;
    padding:20px 0;
    color: white;
    font-size:25px;
    font-weight:300;
}

.movie{
    width:200px;
    margin:0 auto;
    position: relative;
}

.movie img{
    max-width:100%;
    transition: .3s ease-in;
}
.movie img:hover{
    transform: scale(1.03);
}
.movie-info{
    display:flex;
    align-items: center;
    justify-content:space-between;
    min-height:59.33px;
    padding: auto;
    margin: auto;
    background-color: rgba( 255,255, 255, 0.1);

    
}
.movie-info h3{
    margin: 5px auto;
}
.movie-info span{
    margin: auto;
}

.movie-over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in;
    height: 300px;
    overflow: auto;
    padding: 0 2px;
}
 .active{
    opacity:1;
    bottom: 17.5%;
}