.App{
    position: relative;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 130vh;
}
::-webkit-scrollbar{
    width:5px;
    background-color: #353b48;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
.header{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title{
    padding:15px 0;
    color: white;
    font-size:25px;
    font-weight:300;
    
}
.form{
    z-index: 2;
    position: absolute;
    right: 0;
    top:3vh;
    display: flex;
    align-items: center;
    position: absolute;
    

}
.form .searchBar{
    background-color: rgba( 255,255, 255, 0.1);
    padding: 15px 5px;
    border-radius: 7px;
    font-size: 18px;
    outline: none;
    border: none;
    opacity: 0;
    width: 0;
    color: white;
    transition: .5s ease-in-out;
    
}
.form .searchBar::placeholder{
    color: rgba( 255,255, 255, 0.5);
}
.form .btn{
    color: seashell;
    background-color: rgba( 255,255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
    transition: .5s ease-in;
    margin-left:2px;
}
.form:hover >  .searchBar{
    width: 190px;
    opacity: 1;
}
.form:hover >  .btn{
    transform:scale(1.1)
}
.movies{
    top: 10vh;
    position: relative;
    display:flex;
    flex-wrap:wrap;
}

.movie{
    width:200px;
    margin:0 auto;
    position: relative;
    transition: .3s ease-in;
}

.movie img{
    max-width:100%;
    
}
.movie:hover{
    transform: scale(1.02);
}
.movie-info{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    overflow-y: scroll;
    white-space: wrap;
    height:59.33px;
    padding: auto;
    margin: auto;
    background-color: rgba( 255,255, 255, 0.1);
}
.movie-info h3{
    margin: 0px auto;
    padding: 0px 5px;
    max-height: 59.33px;
}
.movie-info span{
    margin: auto 15px;
}
.red{
    color: rgb(231, 31, 31);
    font-weight: bold;
}
.orange{
    color: rgba(187, 74, 74, 0.705);
    font-weight: bold;
}
.light-green{
    color: rgb(47, 180, 76);
    font-weight: bold;
}
.green{
    color: rgb(23, 248, 71);
    font-weight: bold;
}

.movie-over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in;
    height: 300px;
    overflow: auto;
    padding: 0 2px;
}
 .active{
    opacity:1;
    bottom: 17.5%;
}
@media (max-width: 600px) {
    .header{
        height: 130px;
        border: none;
    }
    .form{
        top:80px;
        right:10px;
    }
    .form .searchBar{
        padding: 10px 5px;
    }
    .movies{
        top:130px;
    }
    .movie{
        width: 150px;
    }
    .movie-over{
        height: 238px;
    }
    .form .searchBar{
        width: 0;
        opacity: 0;
    }
    .form:hover >  .searchBar{
        width: 75vw;
        opacity: 1;
    }
}