.App{
    position: relative;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
::-webkit-scrollbar{
    width:5px;
    background-color: #353b48;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}

.title{
    width:100%;
    text-align:center;
    padding:15px 0;
    color: white;
    font-size:25px;
    font-weight:300;
    position: fixed;
    z-index: 1;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.form{
    z-index: 2;
    position: absolute;
    right: 0;
    top:10px;
    display: flex;
    align-items: center;
    position: fixed;

}
.form .searchBar{
    background-color: rgba( 255,255, 255, 0.1);
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    border: none;
    opacity: 0;
    width: 0;
    color: white;
    transition: .5s ease-in-out;
    
}
.form .btn{
    color: seashell;
    background-color: rgba( 255,255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}
.form:hover >  .searchBar{
    width: 80px;
    opacity: 1;
}
.movies{
    top: 40px;
    position: relative;
    display:flex;
    flex-wrap:wrap;
}

.movie{
    width:200px;
    margin:0 auto;
    position: relative;
}

.movie img{
    max-width:100%;
    transition: .3s ease-in;
}
.movie img:hover{
    transform: scale(1.03);
}
.movie-info{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    overflow-y: scroll;
    white-space: wrap;
    height:59.33px;
    padding: auto;
    margin: auto;
    background-color: rgba( 255,255, 255, 0.1);
}
.movie-info h3{
    margin: 0px auto;
    padding: 0px 5px;
    max-height: 59.33px;
}
.movie-info span{
    margin: auto 15px;
}



.movie-over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in;
    height: 300px;
    overflow: auto;
    padding: 0 2px;
}
 .active{
    opacity:1;
    bottom: 17.5%;
}