.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginLogo {
  animation: float 2s infinite ease-in-out;
}
.messagesIcon {
  width: 500px;
  height: 500px;
  color: #3e93fd;
  margin-top: 50px;
}
.MuiSvgIcon-root {
  font-size: 2rem;
}
.loginButton {
  background-color: #3e93fd;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 24px;
  margin-top: 70px;
}
.loginTitle {
  margin: 40px 0;
  font-size: 40px;
  font-weight: 200;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (min-width: 480px) {
  .messagesIcon {
    width: 100px;
    height: 100px;
  }
}
