@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .title {
  text-align: center;
  font-size: 35px;
}
.addTodo {
  display: flex;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
input {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgba(35, 63, 221, 0.4);
  color: white;
  outline: none;
  padding: 10px;
  font-size: 20px;
}
.add {
  height: 50px;
  width: 70px;
  border-radius: 5px;
  border: none;
  background-color: rgb(35, 63, 221);
  color: aliceblue;
  font-size: 20px;
  margin-left: 15px;
  outline: none;
  animation: button 2s infinite ease-in-out;
}
.todos {
  width: 20%;
  margin: 0 auto;
  word-wrap: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}
.todo {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  width: 100%;
  margin: 15px 0;
}
.todo .text {
  align-self: center;
  width: 230px;
  word-wrap: break-word;
}
.todo button {
  align-self: center;
  background-color: rgb(209, 17, 17);
  color: white;
  border: none;
  width: 55px;
  height: 25px;
  outline: none;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
.todo button:hover {
  transform: scale(1.1);
}
.todo .completed {
  align-self: center;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 450px) {
  input {
    width: 250px;
  }
  .todos {
    width: 85%;
  }
  .todo .text {
    width: 200px;
  }
}
